{% extends 'exams/base.html' %}
{% block body %}
<br/>
{% if user.is_authenticated %}
    <h3>
    FULL NAME : {{ user.first_name }} {{ user.last_name }}
        <br/><br/>
    Email: {{ user.email }}
        <br/><br/>
    {% if taken %}
    Score: {{ score }}
    {% else %}
     <a style="color:blue;" href="{% url 'exams:questions' %}">
        <button style="background-color:red; border-radius:100px; color:white;">
            <strong>Start</strong>
        </button>
    </a>
    {% endif %}
    </h3>



{% endif %}
{% endblock %}
